<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dan.dirty.aoplog.dao.LogMapper">

    <insert id="insertLog">
        INSERT INTO sys_log
        (table_name, table_id, oper_type, oper_time, user_id)
        VALUES (#{tableName,jdbcType=VARCHAR},
        #{tableId,jdbcType=BIGINT},
        #{operType,jdbcType=VARCHAR},
        #{operTime,jdbcType=VARCHAR},
        #{userId,jdbcType=BIGINT})
    </insert>

</mapper>
